.customNav {
    position: fixed;
    width: 90%;
    background-color: transparent;
    background-size: cover;
    z-index: 10;
    margin: 1% 5% 0;
  }
  .navbar-nav {
    margin-left:auto;
    margin-right: 0 !important;
  }
  .nav-item {
    margin: 0px 15px;
  }
  .dropdown-menu {
    background-color: transparent;
    background-size: cover;
  }

  .active {
      border-bottom: 2px solid #6041b4;
      color: #6041B4;
  }

  /*Dropdown Menu items under UX Design navigation*/
  .dropdown-menu {
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #f2f2f2;
  }
  .dropdown-item a {
    color: #6041b4 !important;
  }
  .dropdown-item:hover {
    color: #ffffff;
    background-color: #6041b4;
  }
  .dropdown-item:active {
    color: #606060;
    background-color: #c7b5f9 !important;
  }

  @media (min-width:992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
    
    }

  }